
<section class="" id="footer">
    <div class="row container">
        <div class="col s12">
            <div class="footer-copyright">
                <span class="grey-text text-darken-3">© {{actualYear}}, Anilésio Xavier</span>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 white" href="">Linkedin</a>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 white" href="">Github</a>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 white" href="">Gmail</a>
                <a class="grey-text text-darken-1 right btn btn-small z-depth-0 white" href="">Skype</a>
            </div>
        </div>
    </div>
</section>