<section class="banner-inicial">
    <div class="row container espaco-p-top-1">
        <div class="col s12 m6 l6">
            <h5 class="red-text text-accent-2">Covid 19</h5>
            <h2 class="negrito">Esteja seguro, fique em casa</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores odio quos et soluta. Corrupti consequuntur tempore esse aperiam autem itaque voluptas non odit vitae minus sed qui eaque, in quibusdam.</p>
            <p>
                <a href="" class="btn borda-2 z-depth-0 red accent-2">Proteja-se</a>
            </p>
        </div>
    </div>
</section>

<app-formas-prevencao></app-formas-prevencao>

<app-sintomas></app-sintomas>