
<section id="navbar">
    <div class="">
        <nav class="white">
            <div class="container nav-wrapper">
                <a routerLink="" class="red-text text-accent-2 brand-logo">Covid 19</a>
                <a href data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul routerLinkActive="active" class="right hide-on-med-and-down">
                    <li><a routerLink="/" class="red-text text-accent-2" routerLink="">Início</a></li>
                    <li><a routerLink="/sintomas" class="red-text text-accent-2" >Sintomas</a></li>
                    <li><a routerLink="/formas-prevencao" class="red-text text-accent-2" >Formas de prevenção</a></li>
                    <li><a routerLink="/dash-data" class="btn red accent-2 borda-2 z-depth-0">Ver actualização dos dados</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Início</a></li>
        <li><a href="badges.html">Sintomas</a></li>
        <li><a href="collapsible.html">Formas de prevenção</a></li>
        <!-- <li><a href="mobile.html">Mobile</a></li> -->
    </ul>
</section>