.circle-card{
    margin: auto;
    width: 60%;
    height: 170px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
}

.circle-card img{
    position: relative;
    top: 30px;
    width: 100px;
}